<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Giriş Sayfası ~ {{project_name}} </title>
    <link rel="stylesheet" href="/static/loginstyle.css">
    <link rel="icon" href="{{ url_for('static',filename='logo.png') }}">
</head>
<body>
    <div class="login-box">
        <h2>{{project_name}}</h2>
        <br>
        <form action="/login" method="POST" autocomplete="off">
            <div class="user-box">
                <input type="text" name="username" placeholder="Kullanıcı Adı" required="">
            </div>
            <div class="user-box">
                <input type="password" name="password" placeholder="Şifre" required="">
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="Giriş yap!"/>
            </a>
        </form>
    </div>
</body>
</html>